<div class="w-full h-full flex flex-col items-center items-stretch border-box p-4">
  <h1 class="text-center font-bold text-6xl p-4">
    {{or @model.page.pageTitle "Wilks' Birthday Adventure"}}
  </h1>

  {{#if @model.page.pageText}}
    <p class="text-center text-5xl p-4 flex-grow-0">
      {{@model.page.pageText}}
    </p>
  {{/if}}

  <div class="flex-grow flex flex-col justify-center items-center">
    <LinkToPage
      @page={{@model.nextPage}}
      class="bg-purple-500 font-bold py-4 px-6 rounded text-5xl bg-green-400 border-solid border-white border-4"
    >
      {{@model.page.proceedText}}
    </LinkToPage>
  </div>

  <h1 class="text-center font-bold text-6xl p-4">&nbsp;</h1>
</div>


<div class="absolute left-0 bottom-0 p-4">
  <LinkToPage @page={{@model.nextPage}}>Next</LinkToPage>
  <LinkToPage @page={{@model.previousPage}}>Prev</LinkToPage>
</div>
