<div>
  <h2>QUESTION PAGE</h2>
  <p>
    Page id: {{@model.page.id}}<br>
    Next Page id: {{@model.nextPage.id}}<br>
    Previous Page id: {{@model.previousPage.id}}<br>
    Question id: {{@model.page.question.id}}<br>
  </p>

  <LinkToPage @page={{@model.nextPage}}>Next</LinkToPage>
  <LinkToPage @page={{@model.previousPage}}>Prev</LinkToPage>
</div>
